<h2>Volume Controls</h2>

<form (ngSubmit)="update()" *ngIf="controlModel">
  <mat-card color="primary" class="card">
    <mat-card-content>
      <p>Both caps apply to first loan applications only.</p>
      <mat-form-field>
        <input required min="0" placeholder="Application Cap" type="number" matInput tabindex="1"
               name="bound"
               [formControl]="controlsForm.controls.applicationCap" [(ngModel)]="controlModel.applicationCap" />
        <mat-hint align="end">Rolling 24 hours</mat-hint>
        <mat-error *ngIf="controlsForm.controls.applicationCap.hasError('required')">
          Application Cap is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="controlsForm.controls.applicationCap.hasError('min')">
          Application Cap cannot be negative
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <input required min="0" placeholder="Disbursement Cap" type="number" matInput tabindex="2"
               name="pony"
               [formControl]="controlsForm.controls.disbursementCap" [(ngModel)]="controlModel.disbursementCap" />
        <mat-hint align="end">Rolling 24 hours</mat-hint>
        <mat-error *ngIf="controlsForm.controls.disbursementCap.hasError('required')">
          Disbursement Cap is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="controlsForm.controls.applicationCap.hasError('min')">
          Disbursement Cap cannot be negative
        </mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="controlsForm.pristine || controlsForm.invalid">Update</button>
    </mat-card-actions>
  </mat-card>
</form>
