<form [formGroup]="verificationForm" (ngSubmit)="onSubmit(driver)">
  <h2 *ngIf="driver">
    {{ driver.firstname }} {{ driver.lastname }}

    ( <mat-icon> smartphone </mat-icon> {{ driver.phone | phone }}
    | <mat-icon mat-list-icon>email</mat-icon> {{ driver.email }}
    )
  </h2>
  <div mat-dialog-content *ngIf="driver">
    <div class="picture">
      <img width="200px" height="200px" src="{{ driver['image_url']}}" alt="Photo of driver">
    </div>


    <p> Applied on : {{ driver['created_at'] | date: 'dd-MMM-yyyy' }}</p>

    <mat-form-field>
      <mat-select placeholder="Vehicle Type" [(ngModel)]="driver['vehicle_type']"
                  [formControl]="verificationForm.controls['vehicleType']" >
        <mat-option *ngFor="let type of vehicleTypes" [value]="type.type">
          <b style="text-transform: uppercase">{{ type.info }}</b>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input required placeholder="Car plate no." matInput tabindex="1" minlength="6" maxlength="20"
             [(ngModel)]="driver['plate_no']" [formControl]="verificationForm.controls['plateNo']" >

      <mat-error *ngIf="verificationForm.controls.plateNo.hasError('required')">
        Car plate no is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="verificationForm.controls.plateNo.hasError('minlength')">
        Car plate no should be atleast <strong>5</strong> characters
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input required placeholder="Car Model" matInput tabindex="1" minlength="6" maxlength="20"
             [(ngModel)]="driver['model_make']" [formControl]="verificationForm.controls['modelMake']" >
      <mat-hint align="end">Car make with model and year</mat-hint>
      <mat-error *ngIf="verificationForm.controls.modelMake.hasError('required')">
        Car Model is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="verificationForm.controls.modelMake.hasError('minlength')">
        Car Model should be atleast <strong>6</strong> characters
      </mat-error>
    </mat-form-field>

    <!--<mat-form-field>
      <input required placeholder="Car Registration No." matInput tabindex="1" minlength="6" maxlength="20"
             [(ngModel)]="driver['registration']" [formControl]="verificationForm.controls['registration']" >
      <mat-error *ngIf="verificationForm.controls.registration.hasError('required')">
        Registration no. is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="verificationForm.controls.registration.hasError('minlength')">
        Registration no. should be atleast <strong>6</strong> characters
      </mat-error>
    </mat-form-field>-->

    <p>Fields with * are required.</p>

    <p>&nbsp;&nbsp;</p>

    <mat-list *ngIf="docs">
      <h4 mat-subheader>Driver docs</h4>
      <mat-list-item *ngFor="let doc of docs">
        <app-documents [document]="doc" [driverId]="driver.id"></app-documents>
      </mat-list-item>

    </mat-list>
    <p>
      &nbsp;
    </p>

  </div>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="verificationForm.pristine || verificationForm.invalid"
            tabindex="3">Verify</button>
</form>
