<form [formGroup]="verificationForm" (ngSubmit)="onSubmit(driver)">
  <h1 mat-dialog-title>
    {{ driver.firstname }} {{ driver.lastname }}

    ( {{ driver.phone | phone }} )
  </h1>
  <div mat-dialog-content>
    <div class="picture">
      <img width="200px" height="200px" src="{{ driver['image_url']}}" alt="Photo of driver">
    </div>
    <div>
      <p>Email : {{ driver.email }}</p>
      <p>Applied on : {{ driver['created_at'] | date: 'dd-MMM-yyyy' }}</p>

      <mat-form-field>
        <input required placeholder="Driving License No." matInput tabindex="1" minlength="6" maxlength="20"
               [(ngModel)]="driver['license']" [formControl]="verificationForm.controls['license']" >
        <mat-error *ngIf="verificationForm.controls.license.hasError('required')">
          Driving License No. is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="verificationForm.controls.license.hasError('minlength')">
          Driving License no. should be atleast <strong>6</strong> characters
        </mat-error>
      </mat-form-field>

      <table class="example-full-width" cellspacing="1"><tr>
        <td>
          <mat-form-field>
            <input required placeholder="TLC License No."
                   matInput tabindex="1" minlength="6" maxlength="20"
                   [(ngModel)]="driver['tlc_license_no']"
                   [formControl]="verificationForm.controls['tlc_license_no']" >
            <mat-error *ngIf="verificationForm.controls['tlc_license_no'].hasError('required')">
              TLC License No. is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="verificationForm.controls['tlc_license_no'].hasError('minlength')">
              TLC License no. should be atleast <strong>6</strong> characters
            </mat-error>
          </mat-form-field>
        </td>
        <td>

          <!--<mat-form-field>
            <input required placeholder="TLC Expiry"
                   matInput tabindex="1" minlength="6" maxlength="20"
                   [(ngModel)]=""
                   [formControl]="verificationForm.controls['tlc_license_expiry']" >
            <mat-error *ngIf="verificationForm.controls['tlc_license_expiry'].hasError('required')">
              TLC License Expiry Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>-->
        </td>
      </tr></table>
      <mat-form-field>
        <input matInput placeholder="TLC Expiry" type="text" readonly
               value="{{ driver['tlc_license_expiry'] | date: 'MM-dd-yyyy'}}">

        <input matInput [matDatepicker]="picker" hidden
               [formControl]="verificationForm.controls['tlc_license_expiry']" [(ngModel)]="driver['tlc_license_expiry']">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="verificationForm.controls['tlc_license_expiry'].hasError('required')">
          TLC License Expiry Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field (click)="mock()" class="fileupload" [class.clickable]="!fileName" >

        <!--<span matPrefix>Financial: &nbsp;&nbsp;</span>-->
        <input type="text" matInput placeholder="Upload TLC License"
               readonly
               value="{{ fileName }}">
        <mat-icon *ngIf="!fileName" matSuffix>folder_open</mat-icon>
        <mat-icon *ngIf="fileName" matSuffix>attachment</mat-icon>
        <mat-hint align="end">TLC License</mat-hint>

      </mat-form-field>
      <a (click)="clear()" *ngIf="file" class="clickable"><mat-icon>clear</mat-icon></a>

      <input #fileInput style="display: none"
             type="file" (change)="fileChange($event)">



      <mat-form-field>
        <mat-select placeholder="Vehicle Type" [(ngModel)]="driver['vehicle_type']"
                    [formControl]="verificationForm.controls['vehicleType']" >
          <mat-option *ngFor="let type of vehicleTypes" [value]="type.type">
            <b style="text-transform: uppercase">{{ type.info }}</b>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input required placeholder="Car plate no." matInput tabindex="1" minlength="6" maxlength="20"
               [(ngModel)]="driver['plate_no']" [formControl]="verificationForm.controls['plateNo']" >
        <!--<mat-hint align="end">atleast 3 characters</mat-hint>-->
        <mat-error *ngIf="verificationForm.controls.plateNo.hasError('required')">
          Car plate no is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="verificationForm.controls.plateNo.hasError('minlength')">
          Car plate no should be atleast <strong>5</strong> characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input required placeholder="Car Model" matInput tabindex="1" minlength="6" maxlength="20"
               [(ngModel)]="driver['model_make']" [formControl]="verificationForm.controls['modelMake']" >
        <mat-hint align="end">Car make with model and year</mat-hint>
        <mat-error *ngIf="verificationForm.controls.modelMake.hasError('required')">
          Car Model is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="verificationForm.controls.modelMake.hasError('minlength')">
          Car Model should be atleast <strong>6</strong> characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input required placeholder="Car Registration No." matInput tabindex="1" minlength="6" maxlength="20"
               [(ngModel)]="driver['registration']" [formControl]="verificationForm.controls['registration']" >
        <mat-error *ngIf="verificationForm.controls.registration.hasError('required')">
          Registration no. is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="verificationForm.controls.registration.hasError('minlength')">
          Registration no. should be atleast <strong>6</strong> characters
        </mat-error>
      </mat-form-field>

      <p>Fields with * are required.</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="verificationForm.pristine || verificationForm.invalid" tabindex="3">Update Verification</button>
    <button mat-button type="button" (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</form>
