<h2>Referral Stats</h2>

<mat-grid-list cols="3" rowHeight="80px">

  <mat-grid-tile>
    <mat-grid-tile-header>
      <mat-icon aria-hidden="true">drive_eta</mat-icon>
      <span>Referral Trips</span>
      <mat-chip-list>
        <mat-chip color="primary" selected="true">{{ refStat ? refStat.referredTrips : '--' }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile-header>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>
      <mat-icon aria-hidden="true">person_pin_circle</mat-icon>
      <span>Riders Referred</span>
      <mat-chip-list>
        <mat-chip color="primary" selected="true">{{ refStat ? refStat.referredRiders : '--' }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile-header>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>
      <mat-icon aria-hidden="true">airline_seat_recline_normal</mat-icon>
      <span>Drivers Referred</span>
      <mat-chip-list>
        <mat-chip color="primary" selected="true">{{ refStat ? refStat.referredDrivers : '--' }}</mat-chip>
      </mat-chip-list>
    </mat-grid-tile-header>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <button mat-fab color="accent">
        <mat-icon>local_atm</mat-icon>
      </button>
      <span class="earnings">$ {{ refStat ? refStat.refEarnings.total  : '--' }}</span>

      <mat-icon>trending_flat</mat-icon>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <button mat-mini-fab color="primary">
        <mat-icon>card_giftcard</mat-icon>
      </button>
      <span class="earnings-mini">$ {{ refStat ? refStat.refEarnings.refRiderEarnings  : '--' }}</span>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <button mat-mini-fab color="primary">
        <mat-icon>credit_card</mat-icon>
      </button>
      <span class="earnings-mini">$ {{ refStat ? refStat.refEarnings.refDriverEarnings  : '--' }}</span>
    </div>
  </mat-grid-tile>

</mat-grid-list>



  <!--<mat-chip-list>
    <mat-chip color="primary" selected="true">{{ refStat.refEarnings.refRiderEarnings }}</mat-chip>
    <mat-chip color="primary" selected="true">{{ refStat.refEarnings.refRiderEarnings }}</mat-chip>
  </mat-chip-list>
</div>-->

