<h2>Loan Terms</h2>

<mat-card color="primary" class="card" *ngIf="currentLoanTerm">
  <mat-card-content>
    <label>Interest Rate:</label> {{ currentLoanTerm.interestRate }} %<br>
    <label>Loan Tenure:</label> {{ currentLoanTerm.tenure }} days<br>

    <p></p>
    <label>Loan Ladder:</label>
    <div>
      <label>Minimum Loan Amount:</label> Rs. <span>{{ currentLoanTerm.minAmt }}</span>
    </div>
    <div>
      <label>First Loan Limit:</label> Rs. <span>{{ currentLoanTerm.firstLoanLimit }}</span>
    </div>
    <div>
      <label>Maximum Loan Amount:</label> Rs. <span>{{ currentLoanTerm.maxAmt }}</span>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="openLoanTermDialog(false)">Edit Loan Terms</button>
  </mat-card-actions>
</mat-card>

<div class="container" *ngIf="!currentLoanTerm">
  <p><i>No loan term found.</i></p>
</div>
