label {
  width: 250px;
  padding-left: 20px;
}

div > label {
  width: 250px;
  padding-left: 40px;
  font-weight: normal;
}

.card {
  width: 400px;
  margin-right:auto;
  display:block;
}

span {
  float: right;
}

div {
  width: 350px;
  padding-right: 40px;
}
