<h1 mat-dialog-title>Loan Application</h1>
<div mat-dialog-content>
  <mat-card *ngFor="let section of data.sections">
    <mat-card-title>{{ section.name }}</mat-card-title>
    <mat-card-content>
      <div *ngFor="let question of section.questions">
        <label>{{ question.name }}</label>
        {{ question.answers[0] }}
      </div>
    </mat-card-content>
  </mat-card>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="button" disabled tabindex="1">Approve</button>
  <button mat-raised-button color="accent" type="button" disabled tabindex="2">Reject</button>
  <button mat-button type="button" (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
