<h2>Dashboard</h2>

<div class="row" *ngIf="dashBoardData">
  <div class="stat-box">
    <div class="stat-box-header">
      <span class="title">Total Trips</span>

      <a routerLink="/trips" class="end"><mat-icon>open_in_new</mat-icon></a>
    </div>

    <div class="content">
      <div class="center">
        <span class="par">
          {{ dashBoardData.totalTrips }}
        </span>
      </div>
    </div>

  </div>

  <div class="stat-box col2">
    <div class="stat-box-header">
      <span class="title">Drivers Online</span>

      <a routerLink="/applications" class="end"><mat-icon>open_in_new</mat-icon></a>
    </div>

    <div class="content">
      <div class="center">
        <span class="par">
          {{ dashBoardData.driversAvailability.online }} /
          {{ dashBoardData.driversAvailability.total }}
        </span>
      </div>
    </div>
  </div>

  <div class="stat-box col3">
    <div class="stat-box-header">
      <span class="title">Total Earnings</span>

      <a routerLink="/payments" class="end"><mat-icon>open_in_new</mat-icon></a>
    </div>

    <div class="content">
      <div class="center">
        <span class="par">
          {{ dashBoardData.totalEarnings | currency }}
        </span>
      </div>
    </div>

  </div>
</div>

<div class="row" *ngIf="dashBoardData">
  <div class="stat-box">
    <div class="stat-box-header">
      <span class="title">Total Distance Covered</span>

      <a routerLink="/applications" class="end"><mat-icon>open_in_new</mat-icon></a>
    </div>

    <div class="content">
      <div class="center">
        <span class="par">
          {{ dashBoardData.totalDistance }} miles
        </span>
      </div>
    </div>

  </div>

  <div class="stat-box col2">
    <div class="stat-box-header">
      <span class="title">Drivers Pending Verification</span>

      <a routerLink="/applications" class="end"><mat-icon>open_in_new</mat-icon></a>
    </div>

    <div class="content">
      <div class="center">
        <span class="par">
          {{ dashBoardData.driversPending }}
        </span>
      </div>
    </div>

  </div>

  <div class="stat-box col3">
    <div class="stat-box-header">
      <span class="title">Ride Statistics</span>

      <a class="data">Today</a>

      <a routerLink="/applications" class="end"><mat-icon>open_in_new</mat-icon></a>
    </div>

    <div class="content">
      <div class="no-center">
        <div>
          <label class="key-ok">LIVE</label><span> {{ dashBoardData.rideStats.live }}</span>
        </div>
        <div>
          <label class="key-bad">CANCELLED</label><span>{{ dashBoardData.rideStats.cancelled }}</span>
        </div>
        <div>
          <label class="key-good">COMPLETED</label><span>{{ dashBoardData.rideStats.completed }}</span>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" *ngIf="passengersData">
  <div class="stat-box">
    <div class="stat-box-header circle">
      <button mat-mini-fab color="primary">{{ passengersData.total }}</button>
      <span class="title">Passengers Onboard</span>

      <a routerLink="/applications" class="end"><mat-icon>open_in_new</mat-icon></a>
    </div>

    <div class="content">

      <div style="overflow: auto; height: 200px">
        <mat-list dense>
          <a *ngFor="let p of passengersData.passengers">
            <mat-list-item>{{ p.firstname }}</mat-list-item>
          </a>
        </mat-list>
      </div>
    </div>

  </div>
</div>
