<form [formGroup]="loanTermForm" (ngSubmit)="onSubmit(data)">

  <h1 mat-dialog-title>{{ data.id === -1? 'Create Loan Term': 'Edit Loan Term' }}</h1>

  <div mat-dialog-content>
    <p>Fields with * are required.</p>

    <mat-form-field>
      <input required placeholder="Interest Rate" type="number" min="1" matInput tabindex="1"
             [(ngModel)]="data.interestRate" [formControl]="loanTermForm.controls['interestRate']" >
      <span matSuffix>%</span>
      <mat-error *ngIf="loanTermForm.controls.interestRate.hasError('required')">
        Interest rate is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="loanTermForm.controls.interestRate.hasError('min')">
        Interest rate should be greater than <strong>0</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input required placeholder="Loan Tenure" type="number" min="1" matInput tabindex="2"
             [(ngModel)]="data.tenure" [formControl]="loanTermForm.controls['tenure']" >
      <span matSuffix>Days</span>
      <mat-error *ngIf="loanTermForm.controls.tenure.hasError('required')">
        Tenure is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="loanTermForm.controls.tenure.hasError('min')">
        Tenure should be greater than <strong>0</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input required placeholder="Minimum Loan Amount" type="number" min="1" matInput tabindex="3"
             [(ngModel)]="data.minAmt" [formControl]="loanTermForm.controls['minAmt']" >
      <span matSuffix>Rupees</span>
      <mat-error *ngIf="loanTermForm.controls.minAmt.hasError('required')">
        Minimum amount is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="loanTermForm.controls.minAmt.hasError('min')">
        Minimum amount should be greater than <strong>0</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input required placeholder="First Loan Limit" type="number" min="1" matInput tabindex="4"
             [(ngModel)]="data.firstLoanLimit" [formControl]="loanTermForm.controls['firstLoanLimit']" >
      <span matSuffix>Rupees</span>
      <!--<mat-hint align="right">Maximum amount on the first loan</mat-hint>-->
      <mat-error *ngIf="loanTermForm.controls.firstLoanLimit.hasError('required')">
        First Loan Limit is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="loanTermForm.controls.firstLoanLimit.hasError('min')">
        First Loan Limit should be greater than <strong>0</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input required placeholder="Maximum Loan Amount" type="number" min="1" matInput tabindex="5"
             [(ngModel)]="data.maxAmt" [formControl]="loanTermForm.controls['maxAmt']" >
      <span matSuffix>Rupees</span>
      <mat-error *ngIf="loanTermForm.controls.maxAmt.hasError('required')">
        Maximum amount is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="loanTermForm.controls.maxAmt.hasError('min')">
        Maximum amount should be greater than <strong>0</strong>
      </mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" tabindex="6"
    [disabled]="loanTermForm.pristine || loanTermForm.invalid">{{ data.id === -1? 'Create Initial Loan Term': 'Set New Loan Term' }}</button>
    <button mat-button type="button" (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</form>
